<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Article</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
		<h2 class="mb-5"> <%= text.title %> </h2>
        <p class="mb-4"><%= text.detail %></p>
      </div>
    </div>
  </div>

 

  <hr>

  <%- include('partials/_footer') -%>



</body>

</html>









<!-- 
	 -->



	


